<section class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row heading mt-5" style="width: 80%;">
    <div>
        <p>My Cards: 1/2
            <i class="fas fa-angle-left" aria-hidden="true" (click)="previous()"></i>
            <i class="fas fa-angle-right" aria-hidden="true" (click)="next()"></i>
        </p>
        <img src="assets/card.png">

        <div class="text-center" style="border: black dotted 2px; padding: 5px;">
            <a class="nav-link">
                <i class="fas fa-plus" aria-hidden="true"></i>
                <span class="menu-title">Add New Card</span>
             </a>
        </div>

        <hr />
        <strong>Quick Actions</strong>
        <div class="container">
            <div class="box">
                <div class="box-row">
            <div class="box-cell box1">
                <i class="fas fa-plus" aria-hidden="true"></i>
                Top up
            </div> 
          
            <div class="box-cell box2">
                <i class="fas fa-plus" aria-hidden="true"></i>
                Transfer 
            </div>

            <div class="box-cell box3">
                <i class="fas fa-plus" aria-hidden="true"></i>
                Withdrawals 
            </div>
        </div>
    </div>
        </div>


        <hr />
        <strong>Saving Plan</strong>
        <i class="fas fa-plus" aria-hidden="true"></i>

        <div class="container">
            <div style="border: grey solid 2px; border-radius: 2px;">
                <div class="col-sm-12 pt-2 pb-2 text-center">
                    <img class="img-fluid" style="width: 100px" src="assets/card.png">
                </div>
                
                <strong>New Watch</strong>
                <span>Target $2,000</span>
                <span>...</span>
            </div>
            <div>
                <strong>Total: $1,000</strong>
                <span>50%</span>
            </div>
        </div>
    </div>
</section>
